{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="/demo/demomenu" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empty Fields</h2>
        <p>
               EMPTY
        </p>
        <p><a class="btn btn-default" href="/demo/tasksetup/1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empty Fields</h2>
        <p>
            EMPTY
        </p>
        <p><a class="btn btn-default" href="/demo/demomenu">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empty Fields</h2>
        <p>
            EMPTY
        </p>
        <p><a class="btn btn-default" href="/demo/demomenu">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
