{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h2>Avaliable Scripts</h2>
        <select id="listAvaliableScripts" onchange="UpdateScriptInfo()">
            {% for name in names %}
            <option> {{name}} </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <h2>Script Description</h2>
        <textarea id="txtScriptDescription" readonly="readonly"> Please Select A Script </textarea>
    </div>
    <div class="col-md-4">
        <h2>Script Code</h2>
        <textarea id="txtScriptSourceCode" readonly="readonly"> Please Select A Script </textarea>
    </div>
</div>


{% endblock %}