{% extends "layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="scriptList">
    {% for scriptInfo in scriptLists}
    <div class="scriptDetail">
        <a class="scriptName" href="/tasksetup/{{scriptInfo.ScriptID}}">
            {{scriptInfo.ScriptName}}
        </a>
        <div class="scriptMetaData">
            <!-- not using yet, we can put tag info into this part-->
        </div>
        <div class="scriptDescription">
            {{scriptInfo.ScriptDescription}}
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}