{% extends "layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div class="divScriptList">
    {% for scriptInfo in scriptList %}    
    <div class="divScriptDetail">
        <a class="scriptName" href="/tasksetup/{{scriptInfo.Id}}">
            {{scriptInfo.Name}}
        </a>
        <div class="divScriptMetaData">
            <!-- not using yet, we can put tag info into this part-->
        </div>
        <div class="divScriptDescription">
            {{scriptInfo.Description}}
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}