{% extends "layout.html" %}

{% block content %}


<script src="/static/scripts/myScripts/taskresult.js"></script>


<input id="task_id" value="{{taskId}}" hidden="hidden" />

{% if resultList == '' %}
    <a> No output data </a>
{% endif %}

{% for result in resultList %}
    <div id="result_{{loop.index}}" datacount="{{result.DataCount}}" style="width:600px;height:250px;"></div>
{% endfor %}
{% if not framehidden %}
    <a href="{{htmlLink}}" target="_blank"> Your task contains an html result, click here to view it.</a>
{% endif %}
{% endblock %}